<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Medi_predict.css') }}">
    <title>MediPredict Homepage</title>
</head>
<body>
    <div class='container'>
        <nav>
            <div class="nav-container">
                <div class="nav_logo">MediPredict</div>
                <div class="medi_predict_image">
                    <img src="{{ url_for('static', filename='assets/medi_predict_logo1.png') }}" alt="Medi_predict_logo" width="128" height="128">
                </div>
            </div>
        </nav>

        <header class="header">
            <div class="content">
                <h1><span>Get a quick </span> <br /> Medical Analysis</h1>
                <p>
                    MediPredict is a powerful tool designed to help you estimate your medical costs with ease. 
                    Using advanced machine learning algorithms, our platform analyzes various factors such as 
                    age, sex, BMI, number of children, smoking status, and region to provide an accurate prediction 
                    of your healthcare expenses. Whether you're planning for future medical costs or just curious 
                    about how certain factors impact your expenses, MediPredict offers a convenient solution. 
                    Enter your details and get instant predictions to better manage your healthcare budget.
                </p>
                <a href="{{ url_for('predict_page') }}" class="Get_started_button"><span></span>Get started</a>
            </div>
            <div class="additional-service">
                <h2>Let us help you</h2>
                <p>Find the best insurer based on your results and estimated predictions!</p>
            </div>
        </header>


        <div class="cards-container">
            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='assets/medi_predict_logo1.png') }}" alt="Medi_predict_logo">
                </div>
                <h3>Affordabilty</h3>
                <p>Experience exceptional value with MediPredict! Our free service ensures your healthcare budget is optimized without any cost.
                    Enjoy peace of mind with accurate predictions at no expense to you</p>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='assets/medi_predict_logo1.png') }}" alt="Medi_predict_logo">
                </div>
                <h3>Reliability</h3>
                <p>Trust MediPredict to deliver consistent and dependable results. 
                    Our robust technology ensures that you receive accurate predictions every time, empowering you to manage your healthcare budget effectively.</p>
            </div>

            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='assets/medi_predict_logo1.png') }}" alt="Medi_predict_logo">
                </div>
                <h3>Accuracy</h3>
                <p>Rely on MediPredict for precise healthcare cost predictions. 
                    Our advanced algorithms analyze your personal data to provide reliable insights, helping you make informed decisions about your healthcare expenses.</p>
            </div>

            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='assets/medi_predict_logo1.png') }}" alt="Medi_predict_logo">
                </div>
                <h3>Ease of Use</h3>
                <p>MediPredict is designed with simplicity in mind. Our user-friendly interface makes it quick and easy to get accurate predictions, 
                    so you can focus on what matters most – your health.</p>
            </div>

            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='assets/medi_predict_logo1.png') }}" alt="Medi_predict_logo">
                </div>
                <h3>Speed</h3>
                <p>Get your healthcare cost predictions in no time with MediPredict. 
                    Our efficient system provides quick results, so you can plan your healthcare finances without any delays.</p>
            </div>

            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='assets/medi_predict_logo1.png') }}" alt="Medi_predict_logo">
                </div>
                <h3>Comprehensive</h3>
                <p>Gain a complete understanding of your healthcare costs with MediPredict. 
                Our detailed analysis takes various personal factors into account, offering you a thorough and comprehensive prediction.</p>
            </div>
        </div>

    </div>
</body>
</html>
