<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='PredictPage.css') }}">
    <title>Medical Prediction</title>
</head>
<body>

    <div class="container">
        <nav>
            <div class="nav-container">
                <div class="nav_logo">Medical Prediction</div>
                <div class="medi_predict_image">
                    <img src="{{ url_for('static', filename='assets/medi_predict_logo1.png') }}" alt="Medi_predict_logo" width="128" height="128">
                </div>
            </div>
        </nav>

        <div class="title"><h1>Personalized Medical Cost Estimator Result</h1></div>

        <p class="intro-paragraph">
            Our cutting-edge algorithms evaluate a range of personal factors to deliver precise insights into your healthcare costs. 
            Empower yourself with the knowledge to better manage your healthcare budget today!
        </p>

        
    </div>

</body>
</html>
